.postContent {
    padding-bottom: 50px;
    margin-bottom: 80px;
    border-bottom: 1px solid #CCC;
}

.postTitle {
    margin-bottom: 0px;
    text-align: center;
}

.postTitle a{
    color: inherit;
}

.postTitle a:hover{
    border-bottom-color: #094D72;
}

.postDate {
    text-align: center;
    color: #999;
    font-size: .7rem;
    margin-top: 5px;
    margin-left: 2px;
    margin-bottom: 40px;
}